.navbar-custom {
  --bs-navbar-color: #fff;
  --bs-navbar-hover-color: #rgba(255, 255, 255, 0.75);
  --bs-navbar-active-color: #fff;
  /* Add your hex or rgb color codes here instead of Sass variables */
}
